# Node.js
node_modules/
npm-debug.log
yarn-error.log
.next/
out/

# Flask
__pycache__/
instance/
*.pyc
*.pyo
*.pyd
env/
venv/
ENV/
venv.bak/
.venv/
*.env
*.env.*

# General
.DS_Store
Thumbs.db
.idea/
.vscode/
*.log
*.sqlite3
*.db
*.bak
*.swp
*.swo
*.swn
*.sublime-project
*.sublime-workspace

*.h5